<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CtcontrolMobile.Data.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CtcontrolMobile.Data.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CtcontrolMobile.Data.Settings1>
            <setting name="ClientUri" serializeAs="String">
                <value>http://93.84.86.45:8080/api/ClientData/</value>
            </setting>
        </CtcontrolMobile.Data.Settings1>
    </applicationSettings>
    <userSettings>
        <CtcontrolMobile.Data.Settings1>
            <setting name="StatusUri" serializeAs="String">
                <value>http://93.84.86.45:8080/api/StatusData/</value>
            </setting>
        </CtcontrolMobile.Data.Settings1>
    </userSettings>
</configuration>